body{background-color: rgb(54, 54, 54) ;}
textarea {
  background-color:#191e22;
  color: aqua;
  height: 25vh;
  display: inline-block;
  font-family: Courier, sans-serif;
  font-size: 14px;
  width: 32vw;
}
iframe {
  bottom: 0;
  position: relative;
  width: 100%;
 height: 70vh;
  background-color: ghostwhite;
}



